
@import 'https://fonts.googleapis.com/css?family=Iceland|Jockey+One|Maiden+Orange|Raleway:600,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700';

    @font-face {
        font-family: myFirstFont;
        src: url(../fonts/CODEBold.otf);
    }
@media screen and (min-width: 440px) {

    body {
    }
    div#main {
        width: 100vw;
        height: 57vw;
        /*overflow: auto;*/
        background: url('../img/despo_web2.jpg');
        background-size: 100vw;
        background-repeat: no-repeat;
    }

    footer#navbar-bottom {
        display: flex;
        justify-content: space-between;
        height: 55px;
        align-items: center;
    }

/*-------------options ------------------------------*/

    ul#options-list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: black;
    }

    ul#options-list > a {
        color: black;
        text-decoration: none;
    }

    li.options {
        text-decoration: none;
        font-size: 1.7vw;
        letter-spacing: -1px;
        font-family: 'Open Sans Condensed', sans-serif;
        /*width: 500px;*/
        margin-left: 15px;
        margin-right: 15px;
    }

/* --------------------------------------------------*/

/*------------- social-media ------------------------------*/
    
    div#social-media {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        margin-right: 40px;
    }

    div#social-media > a{
        margin-left: 15px;
        margin-right: 15px;
    }
/* --------------------------------------------------*/

    h1#heading {
        font-size: 6vw;
        font-weight: 700;
        color: #180756;
        letter-spacing: 0px;
    }
    p#dates {
        font-size: 2.9vw;
        font-weight: 600;
        color: #146D7F;
    }

    #clockdiv {
        margin-top: 30px;
        font-family: 'myFirstFont', sans-serif;
        letter-spacing: 0.5px;
        color: #000;
        display: flex;
        justify-content: space-between;
        font-weight: 100;
        text-align: center;
        font-size: 50px;
    }

    #clockdiv > div {
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
        border-radius: 10px;
        background: #FFF;
    }

    #clockdiv div > span {
        padding: 20px;
        border-radius: 60px;
        background: #00816A;
        margin-bottom: 50px;
        /*display: inline-block;*/
    }

    .smalltext {
        padding-top: 5px;
        font-size: 16px;
    }
}
