
@import 'https://fonts.googleapis.com/css?family=Iceland|Jockey+One|Maiden+Orange|Raleway:600,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700';
@import 'https://fonts.googleapis.com/css?family=Raleway:400,600';
@import 'https://fonts.googleapis.com/css?family=Oswald';

    @font-face {
        font-family: myFirstFont;
        src: url(../fonts/CODEBold.otf);
    }


    body {
        background: url('../img/bground_16x9.jpg');
        background-repeat: no-repeat;
        background-size: 100vw;
    }
    div#main {
/*        width: 100vw;
        height: 57vw;*/
        /*overflow: auto;*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    footer#navbar-bottom {
        width: 100%;
        background-color: rgba(255,255,255, 0.6);
        display: flex;
        justify-content: space-between;
        height: 65px;
        min-height: 50px;
        align-items: center;
    }

    div#border {
        align-items: center;
        justify-content: space-around;
        display: flex;
        margin-top: 30px;
        width: 320px;
        min-height: 320px;
        border: 2px solid black;
        margin-bottom: 30px;
    }

    img#centre-img {
        width: 300px;
        /*height: 500px;*/
    }

    div#text {
        font-size: 30px;
        font-family: myFirstFont, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #020737;
    }

/*-------------options ------------------------------*/

    ul#options-list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: black;
        margin-bottom: 0px;
    }

    ul#options-list > a {
        color: black;
        text-decoration: none;
    }

    li.options {
        text-decoration: none;
        font-size: 1.7vw;
        letter-spacing: -1px;
        font-family: 'Open Sans Condensed', sans-serif;
        /*width: 500px;*/
        margin-left: 15px;
        margin-right: 15px;
    }

    li.sponsors, li.contact {
        cursor: pointer;

    }

    div.contact-info {
        text-align: center;
        color: #08105F;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 0px;
        font-size: 27px;
    }

    div.contact-info  > p.number {
        font-size: 28px;
        margin-top: 10px;
    }

/* --------------------------------------------------*/

/*------------- social-media ------------------------------*/
    
    div#social-media {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        margin-right: 40px;
    }

    div#social-media > a{
        margin-left: 15px;
        margin-right: 15px;
    }
/* --------------------------------------------------*/

/* ----------------- counter -------------------------*/
div.counter {
    max-height: 100px;
    margin: 20px;
    margin-bottom: 50px;
    margin-top: 10px;
    text-shadow: 0 1px 5px #fff;
    display: flex;
    justify-content: space-between;
    width: 45%;
}

div.days-wrapper, div.hours-wrapper, div.minutes-wrapper, div.seconds-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 105px;
    height: 105px;
    margin: 0 10px;
    padding-top: 20px;
    background: rgba(255,255,255,0.9);
   font-size: 15px;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    border-radius: 80px;
    color: #E47405;
    border: 3px solid rgba(228, 116, 5, 0.6);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

span.days, span.minutes, span.hours, span.seconds {
    letter-spacing: -4px;
    font-weight: 600;
    margin-bottom: 10px;
}

.counter .days, .counter .hours, .counter .minutes, .counter .seconds {
    margin-top: -13px;
    font-size: 60px;
    line-height: 70px;
}

/* --------------------------------------------------*/

/* ------------------------- media queries ------------------------------*/
@media (min-width: 1280px) {
    li.options {
        font-size: 25px;
    }
}

@media (min-width: 979px) and (max-width: 1280px) {
    body {
        background: url('../img/bground_4x3.jpg');
        background-repeat: no-repeat;
        background-size: 100vw;
        background-position: bottom;
    }
    li.options {
        font-size: 22px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    li.options {
        font-size: 22px;
    }

    body {
        background: url('../img/bground_3x4.jpg');
        background-repeat: no-repeat;
        background-size: 100vw;
        background-position: bottom;
    }
    div.counter {
        width: auto;
    }
}

@media (min-width: 480px) and (max-width: 767px) {

    body {
        background: url('../img/bground_3x4.jpg');
        background-repeat: no-repeat;
        background-size: 100vw;
        background-position: bottom;
    }

    div#text {
        font-size: 22px;
    }
    li.options {
        font-size: 22px;
    }

    footer#navbar-bottom {
        justify-content: space-around;
        height: 50px;
    }

    ul#options-list {
        justify-content: space-between;
        padding: 0px;
    }

    li.options:first {
        /*margin: 0px;*/
    }

    div.days-wrapper, div.hours-wrapper, div.minutes-wrapper, div.seconds-wrapper {
        width: 95px;
        height: 95px;
    }
    div.counter {
        width: auto;
    }
}

@media (max-width: 480px) {

    body {
        background: url('../img/bground_3x4.jpg');
        background-repeat: no-repeat;
        background-size: 100vw;
        background-position: bottom;
    }


    ul#options-list {
        justify-content: space-between;
        padding: 0px;
    }

    div#text {
        font-size: 18px;
    }

    li.options {
        font-size: 18px;
    }
    footer#navbar-bottom {
        justify-content: space-around;
        height: 50px;
    }
    div.days-wrapper, div.hours-wrapper, div.minutes-wrapper, div.seconds-wrapper {
        width: 95px;
        height: 95px;
    }
    div.counter {
        width: auto;
    }
}

/* --------------------------------------------------*/


